.background {
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #ff4500);
    padding: 20px;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    max-width: 300px;
    text-align: center;
    margin: 50px auto;
}

.pantalla {
    text-align: right;
    border-radius: 30px;
    width: 100%;
    max-width: 350px;
    height: 50px;
    border-color: #000000;
    border-width: 4px;
    border-style: double;
    background-color: #808080;
    margin: 0 auto;
    font-size: xx-large;
    overflow: auto;
    grid-column: span 3;
}

.numero {
    background: linear-gradient(to bottom, #ff4500, #000000);
    color: white;
}

.simbolo {
    background: linear-gradient(to bottom, #ff4500 60%, #000000 );
    color: gainsboro;
}

.calcular {
    background: linear-gradient(to bottom, #ff4500 60%, #000000 );
    color: gainsboro;
    grid-column: span 2;
}

.borrar {
    background: linear-gradient(to bottom, #ff4500 60%, #000000 );
    color: gainsboro;
}

button:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

button:active{
    transform: scale(0.95);
}

button {
    width: 100%;
    height: 70px;
    margin: -0;
    border-radius: 6px;
    border-width: 1px;
    font-size: larger;
    font-weight: bolder;

}

body {
    margin: 0;
}

#portafolio {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 30px;
    border-width: 5px;
    border-style: double;
    background-color: #fc5628;
    font-size: 12px;
    opacity: 0.6;
}
