.background {
    min-height: 100vh;
    background: linear-gradient(to bottom, black, orangered);
    padding: 20px;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    max-width: 300px;
    text-align: center;
    margin: 50px auto;
}

.pantalla {
    text-align: right;
    border-radius: 5px;
    width: 100%;
    max-width: 280px;
    height: 50px;
    border-color: black;
    border-width: 4px;
    border-style: double;
    background-color: grey;
    margin: 0 auto;
    font-size: xx-large;
    overflow: auto;
    grid-column: span 3;
}

.numero {
    background: linear-gradient(to bottom, orangered, black);
    color: white;
}

.simbolo {
    background: linear-gradient(to bottom, orangered 60%, black );
    color: gainsboro;
}

.calcular {
    background: linear-gradient(to bottom, orangered 60%, black );
    color: gainsboro;
    grid-column: span 2;
}

.borrar {
    background: linear-gradient(to bottom, orangered 60%, black );
    color: gainsboro;
}

button:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

button:active{
    transform: scale(0.95);
}

button {
    width: 100%;
    height: 70px;
    margin: -2px;
    border-radius: 1px;
    border-width: 1px;
    font-size: larger;
    font-weight: bolder;
}

body {
    margin: 0;
}
